.NavigationBarGenerator-btns {
    text-decoration: none;
    color: black;
    float: left;
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 15px;
}

.NavigationBarGenerator-btns:hover {
    background-color: AliceBlue;
}

.NavigationBarGenerator-topBar {
    height: 50px;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: Gainsboro;
    margin-bottom: 10px;
}

.NavigationBarGenerator-bottomBar {
    height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: Gainsboro;
}

.NavigationBarGenerator-leftBar {
    min-width: 50px;
    position: fixed;
    left: 0px;
    height: 100%;
    background-color: Gainsboro;
}

.NavigationBarGenerator-RightBar {
    min-width: 50px;
    position: fixed;
    right: 0px;
    height: 100%;
    background-color: Gainsboro;
}

.NavigationBarGenerator-bottomSpacer {
    bottom: 0px;
    height: 60px;
    width: 100%;
}

.NavigationBarGenerator-leftSpacer {
    left: 0px;
    min-height: 200vh;
    width: 60px;
    float: left;
}

.NavigationBarGenerator-rightSpacer {
    right: 0px;
    min-height: 200vh;
    width: 60px;
    float: right;
}

.NavigationBarGenerator-rightGroup {
    float: right;
}

.NavigationBarGenerator-middleGroup {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
